  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-tl-50">
          <h3>{{title}} <small>- Tags</small></h3>
          <div>
          {{#each tags}}
            <a class="button button--small button--bg button--inverted" href="/tags/{{this}}">{{this}}</a>
          {{/each}}
          </div>
        </div>
        <div class="col-tl-50">
          <h3>{{sitename}}</h3>
          <strong>{{description}}</strong><br/>
          <span>{{author}} - {{generatorname}}</span>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
