  <div class="footer">
    <div class="container">
      <div class="row">
        {{#if tags}}
        <div class="col-sm-6">
          <h3>{{title}} <small>- Tags</small></h3>
          <ul class="list-inline">
          {{#each tags}}
            <li><a class="btn btn-info" role="button" href="/tags/{{this}}">#{{this}}</a></li>
          {{/each}}
          </ul>
        </div>
        {{/if}}
        <div class="col-sm-6">
          <h3>{{sitename}}</h3>
          <strong>{{description}}</strong><br/>
          <span>{{author}} - {{generatorname}}</span>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
