{{> header}}
{{> nav}}
<div class="container">
  <div class="jumbotron">
    <h1>{{sitename}}</h1>
    {{#if excerpt}}{{{excerpt}}}{{/if}}
  </div>
  {{#if contents}}
  <article>{{{contents}}}</article>
  {{/if}}
  {{#if blog}}
  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-tl-50">
          <h1 id="blog-posts">Blog posts</h1>
          <ul class="list--blank">
            {{#each blog}}
            <li>
              <a href="/{{path}}">{{title}}</a>
            </li>
            {{/each}}
          </ul>
        </div>
      </div>
    </div>
  {{/if}}
</div>
{{> footer}}
